*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.container{
    height: 80px;
    width: auto;
    background-color: #255ee9;
    position: relative;
}
.box{
    margin:0 80px;
}
.logo{
    position: absolute;
    top: 30%;
    left: 20%;
}
/*.menu:hover{
    cursor: pointer;  
}*/
.menu nav{
    text-align: center;
    padding: 30px;
}
.menu nav ul li{
    display: inline-block;
    font-weight: bold;
    padding: 0 20px;
    color: white;
}
.menu nav ul li a{
    color: white;
    font-size: 15px;
    text-decoration: none;
}
.menu nav ul li:hover{
    color: cadetblue;
    cursor: pointer;
}
.button{
    border-radius: 40px;
    background-color: white;
    font-size:14px ;
    padding: 7px 16px;
    border: none;
    text-decoration: none;
    font-size:14px;
    color: black;
    position: absolute;
    top: 30%;
    right: 20%;
    cursor: pointer;
}
.button:hover{
    color:cadetblue
}
.btm-hdr{
    background-image: url(img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}
.title{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.title .text h1{
    font-size: 50px;
    margin-bottom:20px ;
}
.title .text p{
    font-size: 18px;
    line-height: 2;
}
.btn-white{
    border-radius: 28px;
    background-color: white;
    padding: 16px 32px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    color: black;
    position: absolute;
    bottom: 18%;
    left: 37%;
    cursor: pointer;
    font-weight: bold;
}
.btn-black{
    border-radius: 28px;
    background-color: black;
    padding: 16px 32px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: 18%;
    left: 48%;
    cursor: pointer;
    font-weight: bold;
}
.btn-black:hover{
    color: turquoise;
}
.btn-white:hover{
    color: turquoise;
}